<div class="ui image">
    <image
            class="ui fluid image"
            src="{{ asset('images/img-front.jpg') }}" />
    <div class="tab-bottom">
        <a href="{{ asset('la-clementine-flyers.pdf') }}"
            target="_blank">
            <i class="cloud download big icon"> </i>
            <span class="ui big positive header">
                Télécharger <u>gratuitement</u> notre folder
            </span>
        </a>
    </div>
</div>