{############################################################################################}
{#     _flash_messages.html.twig                                                            #}
{#     display message flash in a page                                                      #}
{#     this module should be included in the body of the page                               #}
{#     @jphnovitz    2018                                                                   #}
{############################################################################################}

<!-- Flash message display module -->
{% for label, messages in app.flashes %}
    {%  for message in messages %}
        <div class="alert alert-{{ label }}">
            {% if label == 'error' %}
                <i class="material-icons">error</i> {{ message }}
            {% elseif label == 'notice' %}
                <i class="material-icons">warning</i> {{ message }}
            {% elseif label == 'success' %}
                <i class="material-icons">check</i> {{ message }}
            {% endif %}
        </div>
    {% endfor %}
{% endfor %}

<!-- end Flash message display module -->