{# code to be included in form where i wand a collection of input
code taken from the Symfony Doc https://symfony.com/doc/current/form/form_collections.html #}


<script>
    var $collectionHolder;

    var $addInputLink = $('<a href="#" class="add_input_link">Nouvelle ligne</a>');
    var $newLinkLi = $('<div></div>').append($addInputLink);
    $(document).ready(function () {
        // Get the ul that holds the collection of inputs
        $collectionHolder = $('div.lines');
        // add the "add an input" anchor and li to the input ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addInputLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // add a new input form
            addInputForm($collectionHolder, $newLinkLi);
        });

        function addInputForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);
            $newLinkLi.before($newFormLi);
        }


    });
</script>