{# receive a list and display each element #}
<ul class="list">
    {% for object in objects|slice(0, 5) %}
        <a href="{{ path(object|entity~'_show', {'slug': object.slug}) }}"><li>{{ object.name }}</li></a>
    {% endfor  %}
</ul>