.idea/
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> lexik/jwt-authentication-bundle ###
/%CONFIG_DIR%/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/public/images/
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
