{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ingredients List</h1>
    {% for ingredient in list %}
        <a href="{{ path('ingredient_show', {'id' : ingredient.id}) }}">{{ ingredient.name }}</a>
    {%  endfor %}

{% endblock %}