<html>
<head>

    <link href="build/css/sui.css" rel="stylesheet">
    <link href="build/css/front.css" rel="stylesheet">
</head>
<body>
    <div class="ui container fluid">
        <div class="ui grid ">
            <div class="sixteen wide column">
                <h2 class="ui huge header">
                    <img src="/images/logo_white-400.png">
                    <div class="content">
                        Vous êtes à Saint-Nicolas,  vous avez faim ?
                        <div class="sub large header"><strong>Vous êtes au bon endroit  mais notre site est en <strong>maintenance </u>!</strong></div>
                    </div>
                </h2>
            </div>

            <div class="sixteen wide column" style="margin: 2rem auto;">
                <img class="ui fluid image" src="/images/logo_white-400.png">
            </div>
            <div class="sixteen wide column" style="margin: 2rem auto;">
                <h3>La Clémentine est à votre service</h3>
                <p >N'hésitez pas à passer directement en boutique: <u>Chaussée Roosevelt 101B - 4420 Saint-Nicolas</u>
                <br /> <a href="https://fb.me/laclementine.be">Page FACEBOOK</a>
                <br /> <a href="tel:+32468538605">0468 53 86 05</a>
                <br /> <a href="mailto:info@laclementine.be">EMAIL info@laclementine.be</a>
                </p>
            </div>
        </div>
    </div>

</body>
</html>