{% extends '_skeletons/_card.html.twig' %}
{% set object = allergy %}
{% set entity = "allergies" %}

{% block object_image %} {% endblock %}
{% block card_properties_rest %}
{% endblock %}

{% block card_rest %}
    {% if allergy.ingredients is not empty %}
        <p>Cette allergie est provoquée par les ingrédients suivants:</p>
        <div class="ui list horizontal">
            {% for ingredient in allergy.ingredients %}
                <div class="item">
                    <a class="ui tag label"
                       href="{{ path('ingredients_show', {
                           'slug': ingredient.slug
                       }) }}">
                        <strong> {{ ingredient.name }} </strong>
                    </a></div>
            {% endfor %}
        </div>
    {% endif %}


    {% if allergy.categories is not empty %}
        <p>Cette allergie est provoquée par les ingrédients suivants:</p>
        <div class="ui list horizontal">
            {% for category in allergy.categories %}
                <div class="item">
                    <a class="ui tag label"
                       href="{{ path('categories_show', {
                           'slug': category.slug}
                       ) }}">
                        {{ category.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
