{% extends '_skeletons/_delete_confirmation.html.twig' %}

{% block message_infos %}
    <p>Souhaitez-vous <strong><em>supprimer</em></strong> cette entrée de marchandises</p>
    <p>(achat chez {{ object.provider }} encodé le {{ object.created|date('d/m/y') }}) </p>
{% endblock %}