{% extends '_skeletons/_card.html.twig' %}
{% set object = provider %}
{% block object_image  %}
    {% if object.image is not empty %}
        {% block card_image %}
            <img src="{{ asset('images/providers/'~object.image.imageName) }}" />
        {% endblock %}
    {% endif %}
{% endblock %}


{% block card_rest %}
    <p>{{ object.email }}
    <br /> {{ object.streetname }} {{ object.streetnr }}
</p>
{% endblock %}