{% extends '_skeletons/_card.html.twig' %}
{% set object = ingredient %}
{#if ingredient.images is not empty %}
    {% block card_image %} {{ ingredient.image.url|last }}{% endblock %}
{% endif #}
    {% block object_image  %}
        {% if object.images is defined %}
            {% for image in object.images %}
            <img src="{{ asset('images/'~object|entity~'/'~imageName) }}">
            {% endfor %}
        {% endif%}
    {% endblock %}
{% block card_properties_rest %}
    <span class="card-property">{% if ingredient.bread %} Pain{% endif %}</span>
    <span class="card-property">{% if ingredient.sauce %} Sauce{% endif %}</span>
    <span class="card-property">{% if ingredient.vegetable %} crudité{% endif %}</span>
{% endblock %}
{% block card_rest %}
    {% if ingredient.components is not empty %}
        <p>Cet ingrédient est complexe, il contient les ingrédients suivants:</p>
        <ul>
            {% for component in ingredient.components %}
                <li><a href="{{ path('ingredients_show', {'slug': component.slug}) }}"> {{ component }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
