/**
 * Novitz Jean-Philippe
 * wireframe laclementine
 */

body{
    width: 100%;
    height: 100%; 
    margin: 0;
    background-color:#F7F7F7;
    color:#000;
    font-size: 1.1rem;
    line-height: 1.5em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

* {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.toolbar{
    background-color: rgba(255 , 255, 255, .7);
}

#nav-v .menu-wrap{
    opacity: 0;
    height: 0px;
    transition: height linear .6s, opacity linear .8s ;
}

#nav-h .item{
    font-size: 1.2rem;
}

#nav-v{
    display:block;
}

#nav-v .bars{
    line-height: inherit;
    font-size: 2.5rem;
    cursor: pointer;
    
}

.emph{
    color: orangered;
    font-family: 'Pacifico', cursive !important;
    font-size: 2rem;
    line-height: 2rem;
}

section, article{
    margin: 2rem auto !important;
    padding: 1em;
   
}
.total-width{
    width: 100%;
}
.circular{
    border-radius: 50% !important;
}

.spaced{
    padding: .8em;
}

h1, h2, h3{
    font-family: 'Pacifico', cursive !important;
}
h2 {
    margin-top: 2rem !important;
    border-bottom: solid 1px rgba(0, 128, 0, .1) !important;
}
.ui.card>.image, .ui.cards>.card>.image{
    background-color: rgba(242, 113, 28, .05)
}
.oranged{
    /*background-color: rgba(242, 113, 28, .07);*/
    color: rgb(242, 91, 28);
}
.oranged-darker{
    background-color:rgba(238, 107, 20, 0.2);
    color: rgb(136, 0, 0);
}


.bg{
   background-image: url(images/bg-01.png);
   background-size: 4px;
    width: 100%;  
}

.header-content{
    width: 100%;
    min-height: 100%;
    padding-bottom: 1rem;
}

.header-card{
    width: 70% !important;
}
.ui.header>.image:not(.icon), .ui.header>img {
width: 5em;
}

#cta-wrapper{
    height: calc(100vw/1.91);
   background-image: url(images/burger_big_02.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    
}

#cta-wrapper .header{
    background-color: inherit;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px orange;
}
   #cta-wrapper .ui.button{
    background-color: rgba(255, 255, 255, .6) !important;
    font-weight: bold;
    border-radius: 20px;
    color: orangered !important;
   }
   

#slider{
    border:  solid 1px;
    width: 90vw;
    margin:  auto;
}

#slider .cta{
    position: absolute;
    background-color: rgba(188, 189, 189, .4);
    bottom: 45%;
    right: 45%;
    padding: 2em;
}
#intro {
    padding: 2rem 0;
    font-size: large;
}
.white {
    background-color: #fff;
}
.green-spring{
    background-color: #D2DF9A;
    color: orangered;
}

.shadow{
    background-color: #fff;
    color: orangered;
    box-shadow: 0px 0px 24px #ff45004d;
}
@media (min-width: 502px) {
    #cta-wrapper .header{
        font-size: 2.8rem;
    }

    #cta-wrapper .ui.button{
        font-size: 1.8rem ;
    }

    #slider{
        width: 80vw;
      /*  height: 35vw; */
    }
    .emph{
     
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media (min-width: 690px) { 
    #cta-wrapper .header{
        font-size: 3.8rem;
    }
    #cta-wrapper .ui.positive.button, .ui.positive.buttons .button{
        
        font-size: 2.5rem ;
    }
    #nav-h .item{
        font-size: 1.5rem;
    }
    .emph{
     
        font-size: 3.5rem;
        line-height: 4rem;
    }

}

@media (min-width: 1200px) { 
    #cta-wrapper .header{
        font-size: 4.8rem;
    }

    #cta-wrapper .ui.positive.button, .ui.positive.buttons .button{   
        font-size: 3rem ;
    }
}

