body{
    width: 100%;
    height: 100%; 
    margin: 0;
    background-color: #fff;
    color: #000;
    font-size: 1.1rem;
    line-height: 1.5em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

* {
    box-sizing: border-box;
}

.toolbar{
    background-color: rgba(242, 113, 28, .07);
}

#nav-v .menu-wrap{
    opacity: 0;
    height: 0px;
    transition: height linear .6s, opacity linear .8s ;
}

#nav-h .item{
    font-size: 1.2rem;
}

#nav-v{
    display:block;
}

#nav-v .bars{
    line-height: inherit;
    font-size: 2.5rem;
    cursor: pointer;
    
}

section{
    padding: 1em;
}
.total-width{
    width: 100%;
}
.circular{
    border-radius: 50% !important;
}

.spaced{
    padding: .8em;
}

h1, h2, h3{
    font-family: 'Pacifico', cursive !important;
}
h2 {
    margin-top: 2rem !important;
    border-bottom: solid 1px rgba(0, 128, 0, .1) !important;
}
.ui.card>.image, .ui.cards>.card>.image{
    background-color: rgba(242, 113, 28, .05)
}
.oranged{
    background-color: rgba(242, 113, 28, .07);
    color: rgb(242, 91, 28);
}
.oranged-darker{
    background-color:rgba(238, 107, 20, 0.2);
    color: rgb(136, 0, 0);
}


.bg{
    width: 100%;
    background-image: url(images/background-burger_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-content{
    background-color: rgba(255, 255, 255,.9);
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;

}

.header-card{
    width: 70% !important;
}
.ui.header>.image:not(.icon), .ui.header>img {
width: 5em;
}

#slider{
    border:  solid 1px;
    width: 90vw;
    margin:  auto;
   /*  height: 47.1vw; */
    /*overflow: hidden;
    position: relative; */
}

/*#slider .image{
    width: 100%;
}*/
#slider .cta{
    position: absolute;
    background-color: rgba(188, 189, 189, .4);
    bottom: 45;
    right: 45%;
    padding: 2em;
}



@media (min-width: 502px) { 
    #slider{
        width: 80vw;
      /*  height: 35vw; */
    }
}

@media (min-width: 690px) { 
    #nav-h .item{
        font-size: 1.5rem;
    }

}

