<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^/public/
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    RewriteRule ^public/(.*)$ /$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
    RewriteRule ^(en|de|fr)/(.*)$  $2?language=$1 [L,QSA]
    RewriteRule ^(.*)$  $1?language=en [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>

