@import url('https://fonts.googleapis.com/css?family=Amarante|Open+Sans|Roboto');

$darkOrange: rgb(255, 140, 0);
$lightOrange: #FFB479;
$green: rgb(0, 100, 0);
$greenPastel: #A1E7AE;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: #212121;
$primary: #3e75b3;
$info: #00A2B5;
$red: #D63246;
$lightred: #f2dadc;

html, body {
  margin: 0;
  padding: 0;
  width: 100vh;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  }
.content {
  padding: 5px 0;
  background-color: #FFEFE3;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.content h1{
  font-size: 1.5em;
  color: #708238;
  padding: 1px 20px;
}
.bg-alert{
  background-color: $red;
}
.bg-primary{
  background-color: $primary;
}
.bg-info{
  background-color: $info;
}

form{
  margin: 0 20px;
}
.content form .form-row{
  position: relative;
  margin: 10px 0;
  line-height: 4.5em;
}
.content form .form-row input,
.content form .form-row input{

}
.content form .form-row label{
 display: inherit;
  font-size: 1.2em;
}
.content form .form-row input{
  background-color: inherit;
  border: 0;
  position: absolute;
  left: 0;
  bottom: 26px;
  opacity: 0.6;
  border-bottom: solid 1px #000;
  width: 90vw;
  font-size: 1.2em;
  transition: all .5s ease-in;
}

.content form .form-row input:focus{
  bottom: -2px;
  outline: none ;
}

.btn{
  padding: 1%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(54,69,79,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(54,69,79,1);
  box-shadow: 0px 0px 5px 0px rgba(54,69,79,1);
}
.btn:active{
  -webkit-box-shadow: 0px 0px 9px 0px rgba(54,69,79,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(54,69,79,1);
  box-shadow: 0px 0px 9px 0px rgba(54,69,79,1);
}
.btn-primary {
  background-color: $primary;
  color: #fff;
  border-color: transparent;
 }

/*
 * alerts
 */

.form-errors{
  background-color: $lightred;
  color: $red;
  padding: 0.8em;
  border-radius: 10px;
}
.alert {
  display: flex;
  align-items: center;
  margin: 5px auto;
  width: 80%;
  padding: 8px;
  border-radius: 10px;
  font-weight: bolder;
}
.alert-error {
  color: $red;
  background-color: $lightred;
  border: solid 2px $red;
}
.alert-notice {
  color: #8a6d3b;
  background-color: #efbe80;
  border: solid 2px #fb8b00;
}
.alert-success {
  color: $green;
  background-color: $greenPastel;
  border: solid 2px $green;
}
.alert .material-icons{
  margin-right: 1.6em;
}
/*
 * end alert
 */


@media screen and (max-width: 768px) {
  .toolbar {
    max-width: 100%;
    padding: .8vh 3vw;
    background-color: $darkOrange;
    color: $white;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .toolbar #menu-icon .material-icons {
    font-size: 29px;
  }
  .toolbar #menu-icon .material-icons:hover {
    cursor: pointer;
  }
  .toolbar #title {
    font-family: 'Amarante', cursive;
    margin-left: 24px;
    font-size: 24px;
  }
  #lateral-menu{
    position: absolute;
    z-index: 100;
    top: 0px;
    margin-top: 0px;
    margin-left: -100vw;
    height: 100vh;
    background-color: lighten($darkOrange,40%);
    padding: 0;
    transition: margin-left 680ms ease-out;
  }

  #lateral-menu, #lateral-menu li a {
    color: lighten($grey, 20%) ;
  }

  #lateral-menu ul{
    padding-left: 0px;
  }

  #lateral-menu ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 6px 24px;
    font-size: 81%;
  }
  #lateral-menu ul li .material-icons{
    margin-right: 1.2rem;
  }

  #lateral-menu ul li:hover{
    background-color: lighten($darkOrange,20%);
  }

  #lateral-menu .separation {
    background-color: $darkOrange;
    height: 1px;
    border: none;
    margin: 9px 3px;
  }
  /*
  * list display
  */
  .list-group{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .list-group .list-group-item:first-child {
    border-top: solid 1px $lightOrange;
  }
  .list-group .list-group-item{
    border-bottom: solid 1px #FFB479;
    border-left: solid 1px #FFB479;
    border-right: solid 1px #FFB479;
    -webkit-box-shadow:  4px 3px 18px 0px #cecece;
    -moz-box-shadow: 4px 3px 18px 0px #cecece;
    box-shadow: 4px 3px 18px 0px #cecece;
    display: flex;
    line-height: 2em;
    padding: 5px 1em;
    width: 80%;
    flex-direction: column;
  }
  .list-group .list-group-item:hover{
    background-color: #FFEFE3;
  }
  .list-group .list-group-item .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0;
  }
  .list-group .list-group-item .name{
    padding: 8px 5px;
    font-size: 1.2em;
    border-bottom: dotted 1px #cecece;
  }
  .list-group .list-group-item .name a{
    text-decoration: none;
    background-color: inherit;
    color: black;
  }

  .list-group .list-group-item .actions .material-icons{
    border-radius: 25px;
    padding: 5px;
    color: #fff;
  }

  /*
  * end list display
  */

}

@media screen and (max-width: 501px) {
  .toolbar #menu-icon .material-icons {
    font-size: 1.8rem;
    margin-left: 0rem;
  }
  .toolbar #title {
    font-family: 'Amarante', cursive;
    margin-left: 1rem;
    font-size: 1.8rem;
  }
}
