#app{
  position: relative;
  min-height: 100vh;
}
#lateral-menu{
  position: absolute;
  top: 0;
  left: 0;
  transition: all .6s ease-in-out;
}
#lateral-menu.hide{
  opacity: 0 !important;
  margin-left: -50vw;
}
#lateral-menu.showit{
  margin-left: 0;
  opacity: 1;
}

.action{
  position: absolute;
  bottom: 3rem;
  right: -1.5em;
}

.action .button{

  width: 3rem !important;
  height: 3rem !important;
}

.action:hover{
  transform: rotate(50deg);
}

.vich-image img{
  width: 100%;
}