
$darkOrange: rgb(255, 140, 0);
$lightOrange: #FFB479;
$green: rgb(0, 100, 0);
$green-alt: #566629;
$greenPastel: #A1E7AE;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: #212121;

$red: #D63246;
$lightred: #f2dadc;


$primary: $green;
$info: #00A2B5;

