body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:#F7F7F7;
  color:#000;
  font-size: 1.1rem;
  line-height: 1.5em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}
.spaced{
  padding: .8em;
}

h1, h2, h3{
  font-family: 'Pacifico', cursive !important;
}
h2 {
  margin-top: 2rem !important;
  border-bottom: solid 1px rgba(0, 128, 0, .1) !important;
}
.emph{
  color: orangered;
  font-family: 'Pacifico', cursive !important;
  font-size: 2rem;
  line-height: 2rem;
  margin: 2rem auto;
}
p {
  font-size: 1.4rem;
}