<html>
<head>

</head>

<body>
    <h1>Votre compte est activé </h1>

    <p>
        Madame, Monsieur,
        <br />Merci d'avoir confirmé votre compte, vous êtes un membre actif
        <br />Bienvenue chez Clémentine.
           </p>


    <p><strong>La Clémentine</strong><em> Sandwicherie, Traiteur et petite restauration</em>
    <br />Chaussée Roosvelt 101 B, 4420  Saint-Nicolas.</p>
</body>
</html>