<html>
<head>

</head>

<body>
<h1>Demande de réinitialisation</h1>

<p>
    Madame, Monsieur,

    <br />Vous avez oublié votre mot de passe</a>.
    <br />Vous pouvez en  <a href="{{ domain }}/reset/{{ uid }}">demander un nouveau</a>.
</p>

<p>
    Vous n'avez pas oublié votre mot de passe ou il s'agit d'une erreur, il vous suffit d'ignorer cet email.
</p>

<p><strong>La Clémentine</strong><em> Sandwicherie, Traiteur et petite restauration</em>
    <br />Chaussée Roosvelt 101 B, 4420  Saint-Nicolas.</p>
</body>
</html>