{%  extends 'base.html.twig' %}
{% block toolbar %}
{% endblock %}
{% block body %}

    <p>Surveillez votre boîte mail, si cet utilisateur a été trouvé un courrier électronic a été envoyé.</p>
{% endblock %}