{% extends '_bases/_email_base.html.twig' %}


<{% block title %}
    Confirmez votre inscription
{% endblock %}


{% block body %}
    <p>
        Madame, Monsieur,

        <br />Vous venez de vous enregistrer sur notre site: <a href="http://laclementine.be">La clémentine</a>.
        <br />Merci de cliquer sur <a href="{{ domain }}/confirmation/{{ uid }}">ce lien</a> afin de poursuivre votre inscription.
    </p>

    <p>
        Vous ne vous vous êtes pas inscrit ou s'il s'agit d'une erreur ?  il vous suffit d'ignorer cet email.
    </p>

{% endblock %}