<html>
<head>

</head>

<body>
    <h1>Confirmation de votre inscription</h1>

    <p>
        Madame, Monsieur,

        <br />Vous venez devous enregistrer sur notre site: <a href="http://laclementine.be">La clémentine</a>.
        <br />Merci de cliquer sur <a href="{{ domain }}/confirmation/{{ uid }}">ce lien</a> afin de poursuivre votre inscription.
    </p>

    <p>
        Vous ne vous vous êtes pas inscrit ou s'il s'agit d'une erreur ?  il vous suffit d'ignorer cet email.
    </p>

    <p><strong>La Clémentine</strong><em>Sandwicherie, Traiteur et petite restauration</em>
    <br />Chaussée Roosvelt 101 B, 4420  Saint-Nicolas.</p>
</body>
</html>