.bg-footer{
  background-color: #3E3327;
  color: #ffffff;
  margin-top: 2rem;
  border-top: solid 1px transparent;
  padding-top: 1rem;
}

#footer a,
#footer .header{
  color: #ffffff;
}

#footer h3 {
  border-bottom: solid 1px #cecece;
}

#footer .logo{
  width: 9rem;
}

