{% extends '_skeletons/_forms.html.twig' %}
{% set entity = 'types' %}


{% block title %}Ajout d'un type de produit{% endblock %}

    {% block form_details %}
        <div class="ui grid">
            <div class="three wide column"></div>
            <div class="ten wide column">
                <div class="field">
                    <label for="form_name">Nom</label>
                    {{ form_widget(form.name) }}
                    {% if form.name.vars.errors|length %}
                        <div class="ui pointing red basic label">
                            {{ form_errors(form.name) }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label for="form_comment">Commentaire</label>
                    {{ form_widget(form.comment, {"attr": {"class": "custom"}}) }}

                    {% if form.comment.vars.errors|length %}
                        <div class="ui pointing red basic label">
                            {{ form_errors(form.comment) }}
                        </div>
                    {% endif %}
                </div>
                <button class="ui positive circular button" type="submit">Envoi</button>
            </div>
            <div class="three wide column"></div>
        </div>
    {% endblock %}

{% block submit %} {% endblock %}