{% extends 'base.html.twig' %}

{% block body %}

    <h1> {%  block title %}skeleton list {% endblock %} </h1>
    <div class="list-group">
        {% for object in list %}
            <div class="list-group-item">
                <div class="name"> <a href="{{ path(entity ~ '_show', {'id' : object.id}) }}">{{ object.name }}</a> </div>
                <div class="actions">
                    <a href="{{ path(entity ~ '_show', {'id' : object.id}) }}"> <i class="material-icons bg-info">details</i></a>
                    <a href="{{ path(entity ~ '_update', {'slug' : object.slug}) }}"> <i class="material-icons bg-primary">mode_edit</i></a>
                    <a href=""> <i class="material-icons bg-alert">delete</i></a>
                </div>
            </div>
        {%  endfor %}
    </div>


{% endblock %}