{% extends '_skeletons/_forms.html.twig' %}

{% set entity = 'categories' %}
{% block title %}Ajout d'une catégorie d'ingredient{% endblock %}
    {% block form_details %}
<div class="ui stackable grid">
    <div class="three wide column"></div>
    <div class="ten wide column">
        <div class="field">
            <label for="form_name" >Nom</label>
            {{ form_widget(form.name) }}
        </div>
        {% if form.name.vars.errors|length %}
            <div class="ui pointing red basic label">
                {{ form_errors(form.name, {"attr": {"class": "form-error"}}) }}
            </div>
        {% endif %}
        <div class="field">
            <label for="form_comment" >Comment</label>
            {{ form_widget(form.comment) }}
        </div>
        {% if form.comment.vars.errors|length %}
            <div class="ui pointing red basic label">
                {{ form_errors(form.comment) }}
            </div>
        {% endif %}
        <p style="margin-top: 1rem">
            <button class="ui orange positive circular button" type="submit" ><i class="ui check icon"></i> Envoi</button>
            {% block other_buttons %} {% endblock %}
        </p>

    </div>
    <div class="three wide column"></div>
</div>
    {% endblock %}
{% block submit %}
{% endblock %}
{% block right_column %}
{% endblock %}
