{% extends '_skeletons/_forms.html.twig' %}

{% block title %}Ajout d'une catégorie d'ingredient{% endblock %}
    {% block form_details %}
        <div class="form-row">
            <label for="form_name">Nom</label>
            {{ form_widget(form.name) }}
        </div>
        {% if form.name.vars.errors|length %}
            <div class="form-errors">
                {{ form_errors(form.name, {"attr": {"class": "form-error"}}) }}
            </div>
        {% endif %}
    {% endblock %}
