{% extends 'Admin/Ingredient/Category/form/category_add.html.twig' %}

{% block title %}Modification  d'une catégorie d'ingredient{% endblock %}
{% block other_buttons %}
    <button>DEL</button>
{% endblock %}
