{% extends '_bases/_admin_base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('build/css/sui.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div id="dashboard">

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}