{% extends '_bases/_front_base.html.twig' %}
{% block title %} Traiteur | La Clémentine, Liège{% endblock %}
{% block description %}La Clémentine vous propose des plateaux repas à petits prix.  Idéal pour vos réunions, fêtes d'anniversaires ou départ à la retraite.{% endblock %}
{% block body %}

    <div class="sixteen wide column left aligned">
        <h1 class="ui huge header">La Clémentine, votre traîteur de proximité.</h1>
        <div class="ui segment" style="font-size: 1.1rem;">
            <p><em>Vous prévoyez un mariage, une communion, un anniversaire, une réunion ou (simplement)
                    vous n'avez pas envie de faire à manger ?</em></p>
            <p>La clémentine vous propose son service traiteur en plusieurs déclinaisons:</p>

            <p>
            <img class="ui medium centered image" src="{{ asset('images/catering/la-clementine-catering-01.png') }}">
            </p>

            <div class="ui bulleted list">
                <div class="list item">Un <strong>Plateau repas</strong> à partir de cinq personnes.  Vous pouvez soit venir chercher  votre plateau dégustation ou vous le faire livrer.</div>
                <div class="list item">Venez <strong>Célébrer à la Clémentine</strong>.  Trente places disponibles pour votre event avec possibilité d'annimation / karaoké. </div>
                <div class="list item"><strong>Clémentine se déplace dans vos locaux</strong> et se charge de la mise en place.</div>
            </div>
            <p>
                Le tout est basé sur les mêmes valeur que lorsque Clémentine fait ses sandwiches: frais, pour tous les goût et à pris abordable.</p>

        <p>Contactez La Clémentine au 0486 53 86 05, info@laclementine.be ou via la page facebook et dite lui ce que vous souhaitez ... Et si vous passiez en boutique !
        <br />Possibilité de service pour de toute petites occasion (à partir de cinq personnes) ou des fêtes e plus grosse ampleur, on s'adapte
        </p>
    </div>
    </div>
{% endblock %}