{% extends '_bases/_front_base.html.twig' %}

{% block body %}

    <div class="sixteen wide column left aligned">
        <h1 class="ui huge header">La Clémentine, votre traîteur de proximité.</h1>
        <p><em>Vous prévoyez un mariage, une communion, un anniversaire, une réunion ou (simplement)
                vous n'avez pas envie de faire à manger ?</em></p>
        <p>La clémentine vous propose son service traiteur.
        <br />Celui-ci est basé sur les mêmes valeur que lorsque Clémentine fait ses sandwiches: frais, pour tous les goût et à pris abordable.</p>

        <p>Contactez La Clémentine au 0486 53 86 05, info@laclementine.be ou via la page facebook et dite lui ce que vous souhaitez ... Et si vous passiez en boutique !
        <br />Possibilité de service pour de toute petites occasion (à partir de cinq personnes) ou des fêtes e plus grosse ampleur, on s'adapte
        </p>
    </div>
{% endblock %}