{% extends '_bases/_admin_base.html.twig' %}
{% block body %}
    <div class="ui grid" style="min-height: 100%" >
       <div class="sixteen wide column">
            <object type="application/pdf" width="100%" height="100%" >
                <param name="src" value="{{ asset(file) }}"  />

                <p>It appears your Web browser is not configured to display PDF files.
                    No worries, just <a href="{{ asset(file) }}">click here to download the PDF file.</a>
                </p>

            </object>
       </div>
    </div>

{% endblock %}